@import 'variables';
@import 'helpers';

// General
html {
  font-size: 14px;
}

// Structure
aside.menu {
  background: #f0f0f0;
  border-right: 1px solid #d9d9d9;
  
  .menu-list {
    margin-left: -1.5rem;
    margin-right: calc(-1.5rem + 10px);

    li a {
      padding-left: 15px;
      padding-right: 15px;
      border-radius: 0;

      &:hover {
        background-color: $blue;
      }

      .button {
        height: 1.8em;
        font-size: 0.9rem;
        line-height: 1;
        border-radius: 15px;
        border: none;
        width: 100%;
        justify-content: left;
        overflow: hidden;
      }
    }
  }
}

main {
  background: #ededed;
}

#top-bar + .section.is-fullheight {
  height: calc(100% - 56px);
}

// Context menu
.ctx-menu-container {
  background: none;
  box-shadow: none;
  border: none;

  ul.ctx-menu {
    background: none;
    box-shadow: none;
    border: none;
    padding: 0;
    margin: 0;

    .dropdown-menu {
      padding-top: 0;

      .dropdown-item {
        font-size: 0.9rem;

        &:hover {
          background-color: lighten($blue, 5%);
          color: #fff !important;

          &.has-text-danger {
            background: $red;
          }
        }
      }
    }
  }
}

// Forms
.is-horizontal label {
  font-weight: normal;
}

// Buttons
.button {
  border-radius: 3px;

  &.action {
    height: 2em;
    line-height: 1;
  }
}

// Swal
.swal2-modal .swal2-title {
  font-size: 2rem;
}

.swal2-buttonswrapper {
  button.swal2-styled {
    font-weight: normal;
    font-size: 1rem;

    &:focus {
      outline: none;
    }
  }
}

// Tabs customize
.nav-item a:not(.button),
a.nav-item:not(.button) {
  color: #555;
}

/*.nav-item a.is-tab.is-active,
a.nav-item.is-tab.is-active {
  color: $brand-accent;
  border-bottom-color: $brand-accent;
}

.nav-item a.is-tab:hover,
a.nav-item.is-tab:hover {
  border-bottom-color: $brand-accent;
}*/

// Good table override
table .global-search-input {
  width: 300px !important;
  float: right;
  border-radius: 0 !important;
}
table .global-search-icon > img {
  display: none;
}
table.table-bordered {
  border-color: #eee;
}
table td,
table th {
  background: none !important;
}
table th.line-numbers {
  background: rgba(35, 41, 53, .05) !important;
}