@import 'variables';
@import 'helpers';

$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

// General
html {
  font-size: 14px;
}

// Structure
aside.menu {
  background: #d7e0ef;
  border-right: 1px solid #d4d4d4;
  
  .menu-label {
    color: #586270;

    span.truncate {
      display: inline-block;
      overflow: hidden;
      max-width: calc(100% - 65px);
      line-height: 8px;
      white-space: normal;
      text-overflow: ellipsis;
    }  
  }

  .menu-list {
    margin-left: -1.5rem;
    margin-right: calc(-1.5rem + 10px);

    &.overflow {
      overflow-x: auto;
      max-height: calc(100% - 170px);
    }

    li a {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      border-radius: 0;
      font-size: 0.95rem;
      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;

      &.is-active,
      &:hover {
        background-color: #94add2;
        color: #000020 !important;
      }

      .button {
        height: 1.8em;
        font-size: 0.9rem;
        line-height: 1;
        border-radius: 15px;
        border: none;
        width: 100%;
        justify-content: left;
        overflow: hidden;
      }
    }
  }
}

main {
  background: #ededed;
}

#top-bar {
  border-bottom: 1px solid #686868;

  + .section.is-fullheight {
    height: calc(100% - 56px);
  } 
}

.with-action-bar {
  height: calc(100% - 33px);
}

.action-bar {
  border-top: 1px solid #c5c5c5;
  border-bottom: 1px solid #d4d4d4;
  background: #f9f9f9;
  background: -moz-linear-gradient(top, #f9f9f9 0%, #f9f9f9 50%, #ebebeb 51%, #ebebeb 100%);
  background: -webkit-linear-gradient(top, #f9f9f9 0%,#f9f9f9 50%,#ebebeb 51%,#ebebeb 100%);
  background: linear-gradient(to bottom, #f9f9f9 0%,#f9f9f9 50%,#ebebeb 51%,#ebebeb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ebebeb',GradientType=0 );

  .button {
    background: transparent;
    border: none;
    border-right: 1px solid #c5c5c5;
    border-radius: 0;

    .icon {
      width: 2rem;

      i {
        color: #474747;
      }
    }
  }
}

// Context menu
.ctx-menu-container {
  background: none;
  box-shadow: none;
  border: none;

  ul.ctx-menu {
    background: none;
    box-shadow: none;
    border: none;
    padding: 0;
    margin: 0;

    .dropdown-menu {
      padding-top: 0;

      .dropdown-item {
        font-size: 0.9rem;

        &:hover {
          background-color: #94add2;
          color: #fff !important;

          &.has-text-danger {
            background: $red;
          }
        }
      }
    }
  }
}

// Forms
.is-horizontal label {
  font-weight: normal;
}
input.masked {
  background: transparent;
  border: 0;
}
.select select {
  border-radius: 5px;
}
.input input:not([type="radio"]):not([type="checkbox"]) {
  border: none;

  &:focus {
    outline: none;
  }
}

// Buttons
.button {
  border-radius: 3px;

  &.action {
    height: 2em;
    line-height: 1;
  }
}

// Swal
.swal2-modal .swal2-title {
  font-size: 2rem;
}

.swal2-buttonswrapper {
  button.swal2-styled {
    font-weight: normal;
    font-size: 1rem;

    &:focus {
      outline: none;
    }
  }
}

// Tabs customize
.nav-item a:not(.button),
a.nav-item:not(.button) {
  color: #555;
}