// Margin & Padding
.margin-top-10 {
  margin-top: 10px !important;
}
.padding-top {
  padding-top: 2rem;
}
.padding-right {
  padding-right: 1.5rem;
}
.padding-bottom {
  padding-bottom: 2rem;
}
.padding-left {
  padding-left: 1.5rem;
}
.no-padding {
  padding: 0;
}
.no-padding-bottom {
  padding-bottom: 0;
}

// Text & Block alignments
.is-block-centered {
    margin-left: auto;
    margin-right: auto;
}
.vertical-middle {
  vertical-align: middle;
}

// Colors
.is-turquoise {
  background: $turquoise;
}

// Positions
.relative {
  position: relative;
}

// Other
.is-fullheight {
  height: 100%;
}
.is-fullwidth {
  width: 100%;
}
.half-horizontal {
  width: 50%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
}
.half-vertical {
  height: 50%;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}
.pointer {
  cursor: pointer;
}